/* Navbar.css */
.navbar-nav {
  margin-left: auto; /* Aligns the navbar items to the right */
}

.nav-item {
  margin-left: 20px; /* Adjust spacing between menu items as needed */
}

.appcontainer {
  min-height: 700px;
  background-color: #070502;
  max-height: fit-content;
  color: #fff;
}

.intro {
  color: #fff;
  padding-top: 140px;
  padding-left: 20px;
  min-height: 400px;
}

.intro h1 {
  color: #ffff00;
  letter-spacing: 10px;
}

.intro h1:before {
  content: "";
  position: absolute;
  top: 40%;
  width: 0;
  height: 2px;
}

.intro h1:hover::before {
  width: 25%;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  border: 2pz solid #ffff00;
  /* width: 90%; */
}
.intro h1:hover {
  cursor: pointer;
}

.image_section {
  border-radius: 200px;
  mix-blend-mode: screen;
  border: 5px solid #edd715fa;
  height: 200px;
  width: 200px;
}

.image_section:hover {
  cursor: pointer;
  border: 5px solid #ea6822;
}
@media screen and (max-width: 576px) {
  .image_section {
    display: none;
  }
}

.profile_photo {
  width: 80%;
  height: 500px;
  border-radius: 10px;
}

.image_section_container {
  text-align: center;
  margin: auto;
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #4458dc;
  transition: all 0.2s linear;
}

.nav-link:hover::before {
  width: 5%;
}

.about {
  width: 10%;
}
.about:before {
  content: "";
  position: absolute;
  top: 86%;
  border-bottom: 2px solid #4458dc;
  transition: all 0.2s linear;
  width: 0;
}

.about:hover::before {
  width: 8%;
}

.skills {
  width: 50%;
  padding-bottom: 20px;
}

.skills:before {
  content: "";
  position: absolute;
  top: 150%;
  border-bottom: 2px solid #4458dc;
  transition: all 0.2s linear;
  width: 0;
  margin-bottom: 50px;
}

.skills:hover::before {
  width: 12%;
}

.skills:hover {
  cursor: pointer;
}

.progress {
  width: 70%;
}

.description {
  color: #42433a;
}

.about:hover::before {
  width: 8%;
}
.skills_tab {
  min-width: 20%;
  max-width: 20%;
  color: #9b9b9c;
}

@media (max-width: 768px) and (min-width: 576px) {
  .skills_tab {
    min-width: 20%;
    max-width: 50%;
    color: #9b9b9c;
    /* border: 2px solid rgb(247, 9, 9); */
  }
}

@media screen and (max-width: 767px) {
  .profile_photo {
    display: none;
  }
}

.skills_tab:hover {
  cursor: pointer;
}
.skills_tab:hover::before {
  width: 6%;
}
.skills_heading {
  color: #e33267;
}

.skills_description {
  color: #605e5c;
}

.skills_card {
  border-radius: 20px;
  max-width: 200px;
  background-color: #000000;
}

.skills_image {
  min-height: 100px;
  max-height: 100px;
}
.skills_card_title {
  color: #fff;
  text-align: center;
}

.ecommerse_image {
  width: 100%;
  border-radius: 20px;
}

.certificate_image {
  width: 100%;
  min-height: 500px;
  max-height: 400px;
}

.certificate_image:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 5px solid #ea6822;
}

.profile_name {
  letter-spacing: 10px;
  padding-top: 30px;
  color: #b7822f;
}

.resume_profile_photo {
  border-radius: 160px;
  width: 50%;
  height: 200px;
}

.contact_icons {
  color: #b7822f;
}
.resume_profile_photo_component {
  padding-top: 30px;
  text-align: center;
}

.resume_intro {
  padding: 10px;
  border: 2px solid #ffff00;
  border-radius: 20px;
  margin-top: 10px;
  min-height: 500px;
}

.intro_finish {
  border-bottom: 5px solid #7e7e7e;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}

.profile_intro h1 {
  color: #6f5e3a;
}
.profile_intro {
  text-align: end;
  margin-top: 10px;
}

.profile_summary {
  color: #686464;
}

.maillink {
  color: #ffffff;
}

.navbar-fixed {
  position: sticky;
  top: 1px;
  background-color: #000000;
  z-index: 1000;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
